/* reset */
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  font-family: 'Quicksand', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* bg color - mycolor.space */
  background-image: linear-gradient(to right top, #340c34, #281e45, #152d50, #023954, #08662c);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
